/*Generador automático de NPC's
Fernando Maldonado Solís
fermaldonadosolis@gmail.com */

body    
    {
    color: white;
    margin: 0;
    padding: 0;
    background-size: cover;
    background: url(img/fondo.jpg);
    font-family: sans-serif;
    height: 100vh;
    }






/***************************************** BOTONES *****************************************/

.boton
            {
            margin: 0;
            position: absolute;
            top: 50%;
            /*left: 50%;*/
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            }

#botnpc
        {
        margin: 0;
        position: absolute;
        top: 75%;
        left: 30%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        transition: .4s;
        }

#botloot
        {
        margin: 0;
        position: absolute;
        top: 75%;
        left: 70%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        transition: .4s;
        }

.login_contenedor button
                        {
                        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                        background-color: #e0dede;
                        border: none;
                        color: rgb(0, 0, 0);
                        padding: 15px 32px;
                        text-align: center;
                        display: inline-block;
                        font-size: 16px;
                        border-radius: 10px;
                        transition-duration: 0.4s;
                        font-weight: bold;
                        }

.login_contenedor button:hover
                                {
                                background-color: rgb(0, 0, 0);
                                color: white;
                                }

.login_contenedor button:active
                                {
                                background-color: #ffffff;
                                box-shadow: 0 5px #666;
                                transform: translateY(4px);
                                color: black; 
                                }

/********* Botón de RETURN *********/


.round {
        background-color: rgb(41, 37, 37);
        display: none;
        position: absolute;
        border: 3px solid rgb(255, 255, 255);
        width: 40px;
        height: 40px;
        border-radius: 100%;
        left: 13%;
        top: 22%;
        transform: rotate(180deg);
        }

#cta{
    width:100%; cursor: pointer; position: absolute;
    }

    #cta .arrow{left: 30%;}
    .arrow {position: absolute; bottom: 0;  margin-left:0px; width: 12px; height: 12px; background-size: contain; top:15px;}
    .segunda{margin-left: 8px;}
    .next   {
            background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHN0eWxlPi5zdDB7ZmlsbDojZmZmfTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTMxOS4xIDIxN2MyMC4yIDIwLjIgMTkuOSA1My4yLS42IDczLjdzLTUzLjUgMjAuOC03My43LjZsLTE5MC0xOTBjLTIwLjEtMjAuMi0xOS44LTUzLjIuNy03My43UzEwOSA2LjggMTI5LjEgMjdsMTkwIDE5MHoiLz48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMzE5LjEgMjkwLjVjMjAuMi0yMC4yIDE5LjktNTMuMi0uNi03My43cy01My41LTIwLjgtNzMuNy0uNmwtMTkwIDE5MGMtMjAuMiAyMC4yLTE5LjkgNTMuMi42IDczLjdzNTMuNSAyMC44IDczLjcuNmwxOTAtMTkweiIvPjwvc3ZnPg==);
            }   

@keyframes bounceAlpha {
                        0% {opacity: 1; transform: translateX(0px) scale(1);}
                        25%{opacity: 0; transform:translateX(10px) scale(0.9);}
                        26%{opacity: 0; transform:translateX(-10px) scale(0.9);}
                        55% {opacity: 1; transform: translateX(0px) scale(1);}
                        }

.bounceAlpha    {
            animation-name: bounceAlpha;
            animation-duration:1.4s;
            animation-iteration-count:infinite;
            animation-timing-function:linear;
            }

.arrow.primera.bounceAlpha {
                            animation-name: bounceAlpha;
                            animation-duration:1.4s;
                            animation-delay:0.2s;
                            animation-iteration-count:infinite;
                            animation-timing-function:linear;
                            }

.round:hover .arrow {
                    animation-name: bounceAlpha;
                    animation-duration:1.4s;
                    animation-iteration-count:infinite;
                    animation-timing-function:linear;
                    }

.round:hover .arrow.primera{
                            animation-name: bounceAlpha;
                            animation-duration:1.4s;
                            animation-delay:0.2s;
                            animation-iteration-count:infinite;
                            animation-timing-function:linear;
                            }


/************************************ Respuestas NPC Generator **************************************************/

#respuestas
            {
            width: 100%;
            text-align: center;
            font-size: 24px;
            margin: auto;
            position: absolute;
            top: 63%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            }

#respuestas2
            {
            width: 100%;
            text-align: center;
            font-size: 24px;
            margin: auto;
            position: absolute;
            top: 72%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            }

#respuestas3
            {
            width: 100%;
            text-align: center;
            font-size: 24px;
            margin: auto;
            position: absolute;
            top: 80%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            }

#respuestas4
            {
            width: 100%;
            text-align: center;
            font-size: 24px;
            margin: auto;
            position: absolute;
            top: 88%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            }


/************************************ Contenedor **************************************************/
.login_contenedor
                {
                width: 320px;
                height: 250px;
                border-radius: 2%;
                background-color: #dc3d4f;
                color: black;
                top:50%;
                left: 50%;
                position: absolute;
                 transform: translate(-50%, -50%);
                 box-sizing: border-box;
                 padding: 70px 30px;
                 transition: height .4s;
                }

.login_contenedor .logo
                        {
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;
                        position: absolute;
                        top: -50px;
                        left: calc(50% - 50px);
                        }

.login_contenedor label
                        {
                        margin: 0;
                        padding: 0;
                        font-weight: bold;
                        display: block;
                        }

.login_contenedor h1
                    {
                    margin: 0;
                    padding: 0 0 20px;
                    text-align: center;
                    font-size: 15;
                    }

.login_contenedor input
                        {
                        width: 100%;
                        margin-bottom: 20px;
                        }

.login_contenedor .eti
                        {
                        text-align: center;
                        }